*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
}
h1{
    text-align: center;
    padding-top: 50px;
    color:yellow;
    font-weight: bolder;
}
textarea{
    width: 80%;
    height: 200px;
    margin-left: 10%;
    font-size: 20px;
}
h2{
    padding-top: 25px;
    text-align: center;
}
